/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 50px;
 }

 h1 {
   text-align: center;
   font-family: 'Pacifico', cursive;
 }

 #map {
   width: 700px;
   height: 700px;
   border-right: 1px solid gray;
 }

 .harvst-details {
   margin-top: 25px;
 }

 .img-responsive {
   margin: 0 auto;
 }

 .show-view-body {
   margin: 50px;
 }

 .pad-top {
   padding-top: 25px;
 }

 .navbar-brand {
   font-family: 'Pacifico', cursive;
   font-size: 24px;
 }

// harvst index
 .harvst-index-item {
   border: 1px solid gray;
   height: 125px;
   margin-top: 25px;
   margin-bottom: 25px;
   background-position: center center;
 }

 .cover {
   height: 123px;
   margin: 0;
   padding: 5px;
   background-color:rgba(255,255,255,0.5);
 }

 //show harvst
 .show-view-body {
   position: relative;
 }

 .display-label {
   display: inline-block;
   width: 100px;
 }

.display-item {
  display: inline-block;
}
