/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 50px;
   max-width: 100%;
   overflow-x: hidden;
 }

 h1 {
   font-family: 'Pacifico', cursive;
   text-align: center;
 }

 .cf:after {
   content: "";
   clear: both;
   display: block;
 }

 //navbar

 .navbar-search {
   margin-top: 7px;
 }

 .search {
   width: 250px;
 }

 // new session new user forms

 .center-container {
   padding-top: 25%;
 }

 .center-row {
   position: absolute;
   width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 // harvst index

 .full-height {
   height: 100vh;
 }

 .map-holder {
   position: fixed;
 }

 .offset-56 {
   margin-left: 56%;
 }

 #map {
   border-right: 1px solid #e7e7e7;
 }

 .img-responsive {
   margin: 0 auto;
 }


 .pad-top {
   padding-top: 25px;
 }

 .small-margin-bottom {
   margin-bottom: 15px;
 }

 //navbar

 .navbar-brand {
   font-family: 'Pacifico', cursive;
   font-size: 24px;
 }

//profile page

.profile-page {
  background-color: #f8f8f8;
}

.profile-container {
  background-color: #fff;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  height: 100vh;
}

 .show-view-body {
   margin: 15px;
 }

 .tiny-margin-top {
   margin-top: 5px;
 }

 .wrap-text {
   white-space: pre-wrap;
 }

// harvst index
 .harvst-index-item {
   border: 1px solid gray;
   height: 125px;
   margin-top: 25px;
   margin-bottom: 25px;
   background-position: center center;
   background-size: cover;
 }

 .cover {
   height: 100%;
   margin: 0;
   padding: 5px;
   background-color:rgba(255,255,255,0.5);
 }

 .cover:hover {
   background-color:rgba(255,255,255,0.1);
 }

 //show harvst

 .display-label {
   display: inline-block;
   width: 100px;
 }

.display-item {
  display: inline-block;
}

.padding-left {
  padding-left: 0px;
}

.tiny-button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.tiny-button-case {
  margin-right: 2px;
  margin-left: 2px;
}

.black-border-top {
  border-top: 1px solid black;
}

//edit harvst

.relative {
  position: relative;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-top {
  margin-top: 25px;
}

.margin-right {
  margin-top: 15px;
}

.icon-right {
  position: absolute;
  right: 15px;
  top: 0%;
}

// user show

.profile-img {
  border: 1px solid #e7e7e7;
}

// user harvsts
.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

// user harvst index item
.mini-pad {
  padding-left: 0px;
  padding-right: 0px;
}

.user-harvst-index-item {
  height: 200px;
  border: 1px solid #e7e7e7;
  margin: 5px;
}

// comment
.comment {
  border: 1px solid #e7e7e7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-body {
  min-height: 75px;
  padding: 15px;
}

.black-border-bottom {
  border-bottom: 5px solid black;
}

.comment-details {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-details:after {
  content: "";
  clear: both;
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
